<div class="flex justify-between items-center bg-gradient-to-r from-blue-300 to-green-100 px-20 py-10">
    <div class="max-w-lg">
      <h4 class="text-lg font-semibold">
        Share your stories through us to the world
      </h4>
      <h2 class="text-2xl font-bold">Let's end Period Stigma</h2>
      <p class="max-w-md">
        Sign Up and start contributing your first own blog on health and
        hygiene. Here at Shewin we respect privacy so you can opt stay
        anynomous or privately share the story to us.
      </p>
      <a routerLink="/blogStory">
        <button class="mt-4 bg-rose-400 hover:bg-rose-500 hover:shadow-md h-10 rounded-xl px-5 py-2">
          Share the World
        </button>
      </a>
    </div>
  
    <div class="ml-5 mt-[-90px] flex flex-col items-end">
      <div class="mb-5 overflow-hidden shadow-lg">
        <img src="../../../../assets/share1.jpg" alt="stain2" class="mb-2 rounded-xl" width="280" height="280"/>
      </div>
      <div class="mr-[-30] overflow-hidden shadow-lg">
        <img src="../../../../assets/share2.jpg" alt="stain1" class="mb-2 rounded-xl" width="135" height="135"/>
      </div>
    </div>
  
    <div class="mr-10 ml-30 flex flex-col items-end">
      <div class="mb-10 overflow-hidden shadow-lg">
        <img src="../../../../assets/share3.avif" alt="stain1" class="mb-2 rounded-xl" width="220" height="220"/>
      </div>
      <div class="mr-[-30] overflow-hidden shadow-lg ">
        <img src="../../../../assets/share4.jpg" alt="stain" class="mb-2 rounded-xl" width="200" height="200"/>
      </div>
    </div>
  </div>
  