
<div class="border-b border-gray-200 sm:block">
  <div class="container py-4">
    <div class="flex justify-between items-center">
      <div class="Logo flex items-center">
        <a routerLink="/">
          <img src="../../../../assets/icons8-flo.svg" width="58" height="50" alt="logo" />
        </a>
        <a routerLink="/">
          <span class="text-xl font-extrabold text-rose-700">Menstru</span>
          <span class="text-xl font-extrabold text-rose-500">E<i>ase</i></span>
        </a>
      </div>
      <div class="navbar">
        <a routerLink="/" class="mr-8 hover:text-rose-600 font-medium">Home</a>
        <a routerLink="" class="mr-8 hover:text-rose-600 font-medium">About</a>
        <a routerLink="/booking" class="mr-8 hover:text-rose-600 font-medium">Services</a>
        <a routerLink="/tracker" class="mr-8 hover:text-rose-600 font-medium">Tracker</a>
        <a routerLink="/blogStory" class="mr-8 hover:text-rose-600 font-medium">Blogs</a>
      </div>
      <div class="Button">
        <a routerLink="/login">
          <button class="btn btn-primary h-10 rounded-m px-8 md:w-auto bg-rose-400 hover:bg-rose-500 hover:shadow-md mr-2 rounded-xl">
            Login
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
