<div class="flex flex-wrap justify-center py-10 px-5 mb-0 mt-1">
    <h1 class="font-bold text-center text-4xl w-full">Services We Offer</h1>
    <div class="flex flex-col items-center justify-center m-12 hover:opacity-80 transform hover:scale-110 transition-transform duration-300">
      <a routerLink="/tracker">
        <img src="../../../../assets/period-tracker.avif" alt="Period Tracker" width="150" height="150" class="rounded-xl mb-2"/>
        <p>Period Tracker</p>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center m-12 transform hover:scale-110 transition-transform duration-300">
      <a routerLink="/booking">
        <img src="../../../../assets/consultancy.jpg" alt="Consultancy" width="150" height="150" class="rounded-xl mb-2"/>
        <p>Consultancy</p>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center m-12 transform hover:scale-110 transition-transform duration-300">
      <img src="../../../../assets/pads.avif" alt="Pills and Pads" width="150" height="150" class="rounded-xl mb-2"/>
      <p>Get PILLs and PADs</p>
    </div>
    <div class="flex flex-col items-center justify-center m-12 transform hover:scale-110 transition-transform duration-300">
      <img src="../../../../assets/mood-tracker.avif" alt="Mood Tracker" width="150" height="150" class="rounded-xl mb-2"/>
      <p>Mood Tracker</p>
    </div>
  </div>
  